html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body,
ul,
li,
h2,
p {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  display: block;
}
.wrap {
  min-width: 800px;
  max-width: 1000px;
  margin: 0 auto;
}
header {
  padding: 49px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a {
  color: black;
  font-weight: 900;
  font-size: 20px;
}
header ul {
  display: flex;
  align-items: center;
}
header nav a {
  padding: 5px 25px;
  color: black;
  font-weight: 400;
}
header nav a:hover {
  background-color: #c7c7c7;
  color: white;
  border-radius: 7px;
}
main {
  margin: 0;
  padding-top: 168px;
  height: 590px;
  background-image: url(./image/japan3.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  color: #0078a8;
  margin: bottom 44px;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: center; */
  gap: 30px;
}
main a {
  color: #0078a8;
  padding: 15px;
  border: 1px solid;
}
main a:hover {
  background-color: #0078a8;
  color: white;
}
main p {
  margin: 0;
  font-size: 40px;
  font-weight: 400;
}
.section1 {
  padding: 44px 0px 27px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.card a p {
  padding-top: 15px;
  text-align: center;
  color: black;
}
.section2 {
  display: flex;
  padding: 87px 77px;
}
.section2 h2 {
  font-size: 36px;
  padding: 0px 0px 160px 0px;
}
.section2 p {
  font-size: 20px;
  font-weight: 300;
  min-width: 200px;
  max-width: 568px;
  align-content: end;
}
.section3 {
  height: 410px;
  background-image: url(./image/section3.png);
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.footer ul {
  padding-left: 30px;
  display: flex;
  gap: 25px;
  margin: 0;
  list-style: none;
}
.footer a {
  display: block;
  width: 24px;
  height: 24px;
  background-color: white;
  text-indent: -999px;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.fb {
  background-image: url(./image/FB.png);
}
.ig {
  background-image: url(./image/IG.png);
}
.x {
  background-image: url(./image/Ｘ.png);
}
